<html>
  <head>
      <script src="/static/accounts/js/p5.js"></script>
      <script language="javascript" type="text/javascript" src="/static/accounts/js/p5.play.js"></script>
      <script language="javascript" type="text/javascript" src="/static/accounts/js/addons/p5.sound.js"></script>
      <script src="/static/accounts/js/script2.js"></script>
  <body>
<div id="player"><script src="/static/accounts/js/script2.js"></script></div>

<script>


      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {

          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>

 </body>
</html>